*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%; 
}


#main{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: rgb(33, 27, 33);
}
#panel{ 
    width: 70%;
    height: 90%;
    overflow: hidden;
    border-radius: 10px;
    background-color: rgb(241, 246, 241);
}
#headline{
height: 70px;
width: 100%;
display: flex;
align-items: center;
justify-content: space-between;
background-color: rgb(139, 139, 213);
padding-left: 300px;
padding-right: 300px;
}
.box{

    height: 30px;
    width: 110px;
    padding-left: 10px;
    display: flex;
    align-items: center;

font-family: cursive;   
gap: 10px; 
color: brown;
font-weight: 1000;




}

#again{
    height: 30px;
    width: 110px;
    margin-left: 150px;
    background-color: aquamarine;
    padding:2px 2px;
    display: flex; 
    align-items: center; 
    justify-content: center;
    
    
    

font-family: cursive;   
gap: 10px; 
color: blue;
font-weight: 1000;
border-radius: 10%;




}
.innerbox{
    height: 20px;
    width: 35px;
    font-size: small;
    font-family: cursive;
    background-color: whitesmoke;
    border-radius: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: blueviolet;
    font-weight: bold;
    
}
#pbtm{
    height: calc(100% - 70px);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    
    
    
}
.bubble{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: rgb(139, 139, 213);
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
    ;
    color:black;
    font-weight: bolder;

}
.bubble:hover{
    cursor: pointer;
    color: white
}
#again:hover{
    cursor: pointer;
    color: white
}
